.about-content {
  display: flex;
  height: 82vh;
  width: 100%;
  gap: 200px;
  justify-content: center;
  align-items: center;
}

.description {
  width: 40%;
}

.about-content h1 {
  font-size: xx-large;
  color: rgb(6, 222, 225);
  text-align: center;
}

.description p {
  font-size: larger;
  line-height: 30px;
  text-align: justify;
}
