.custom-button {
  color: rgb(6, 222, 225);
  font-size: large;
  padding: 9px 12px;
  border-radius: 4px;
  background: none;
  border: 1.5px solid rgb(6, 222, 225);
  cursor: pointer;
  transition: 0.3s;
}

.custom-button:hover {
  background-color: rgb(6, 222, 225);
  color: rgb(22, 22, 22);
}
