.technologies-section {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.technologies-section h1 {
  font-size: xx-large;
}

.technologies {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  gap: 35px;
  justify-content: center;
  align-items: flex-end;
}

.tech-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-logo {
  width: 65px;
}

.tech-logo:hover {
  zoom: 120%;
}

.tech-name {
  font-size: larger;
}
