.contact-main {
  width: 100%;
  padding: 12vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 38%;
  height: 58vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  border-radius: 12px;
}
