.home-content {
  display: flex;
  height: 82vh;
  width: 100%;
  gap: 200px;
  justify-content: center;
  align-items: center;
}

.project-btn {
  color: rgb(6, 222, 225);
  font-size: medium;
  padding: 8px 12px;
  border-radius: 4px;
  background: none;
  border: 1px solid rgb(6, 222, 225);
  cursor: pointer;
  margin-top: 25px;
}

.project-btn:hover {
  background-color: rgb(6, 222, 225);
  color: rgb(22, 22, 22);
}

.info {
  text-align: center;
}

.info h1 {
  font-size: xx-large;
  color: rgb(6, 222, 225);
}

.info p {
  font-size: larger;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-top: 35px;
}

.icons a {
  text-decoration: none;
  color: white;
}

.icons a:hover {
  color: rgb(6, 222, 225);
}

.icons .fa-brands {
  font-size: 43px;
}
