.home-content {
  display: flex;
  height: 82vh;
  width: 100%;
  gap: 160px;
  justify-content: center;
  align-items: center;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.personal-info h1 {
  font-size: 33px;
  color: rgb(6, 222, 225);
}

.personal-info p {
  font-size: 26px;
}

.media-icons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.media-icons a {
  text-decoration: none;
  color: white;
  font-size: 45px;
  transition: 0.3s;
}

.media-icons a:hover {
  color: rgb(6, 222, 225);
}

.personal-picture {
  width: 230px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
}
