.projects-content {
  padding: 12vh 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin: 0 5%;
}

.projects-content .right {
  width: 25%;
  height: 58vh;
  display: flex;
  gap: 40px;
  flex-direction: column;
  position: sticky;
  top: 12vh;
}

.projects-content .left {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.projects-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.projects-search p {
  font-size: larger;
  font-style: italic;
}

.project-not-found {
  height: 58vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.project-not-found p {
  color: rgb(6, 222, 225);
  font-size: x-large;
  font-weight: bold;
}

.project-not-found h2 {
  font-size: 75px;
}
