.tech-label {
  /* border: 1px solid white; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  width: 43%;
}

.tech-checkbox {
  accent-color: rgb(6, 222, 225);
}
