.tech-filter {
  /* border: 1px solid white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px 40px;
}

.tech-label {
  /* border: 1px solid white; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  width: 35%;
}

/* .tech-checkbox:checked::after {
  background-color: rgb(6, 222, 225);
} */
